<br><br><br><br>
<div class="container">
<h1><%= t 'static_page.index.welcome' %></h1>
<p><%= t 'static_page.index.service' %></p>
<ul class="list-group">
  <li class="list-group-item"><%= t 'static_page.index.cbc' %></li>
  <li class="list-group-item"><%= t 'static_page.index.bmp' %></li>
  <li class="list-group-item"><%= t 'static_page.index.tsh' %></li>
  <li class="list-group-item"><%= t 'static_page.index.ha' %></li>
  <li class="list-group-item"><%= t 'static_page.index.cultures' %></li>
  <li class="list-group-item"><%= t 'static_page.index.pt' %></li>
</ul>
</div>


