<br><br><br>
<p id="notice"><%= notice %></p>

<div class="container">
<h1><%= t '.patient_feedback' %></h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t ".patient_name" %></th>
      <th scope="col"><%= t ".patient_email" %></th>
      <th scope="col"><%= t ".doctor_name" %></th>
      <th scope="col"><%= t ".feedback" %></th>
      <th colspan="3" scope="col"><%= t ".action" %></th>
    </tr>
  </thead>

  <tbody>
    <% @patient_feedbacks.each do |patient_feedback| %>
      <tr>
        <td><%= patient_feedback.patient_name %></td>
        <td><%= patient_feedback.patient_email %></td>
        <td><%= patient_feedback.doctor_name %></td>
        <td><%= patient_feedback.feedback %></td>
        <td><%= link_to t('.show'), patient_feedback %></td>
        <td><%= link_to t('.edit'), edit_patient_feedback_path(patient_feedback) %></td>
        <td><%= link_to t('.destroy'), patient_feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t('.new_patient_feedback'), new_patient_feedback_path %>
</div>

<br>





